pre {
  width: 95%;
  margin: auto;
  text-align: left;
}

.code-container {
  max-width: 90vw; 
  width: 100%; 
  margin: 0 auto;
  transform: none;
  margin-bottom: 4%;
}

/* for larger screens */
@media (min-width: 860px) {
  .code-container {
    width: 90vw;
    max-width: 900px;
    min-width: 650px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    margin-bottom: 4%;
  }
}


.copy-button {
  position: absolute;
  background-color: #3b309b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  
}

.copy-button:hover {
  background-color: #212366;
}

p {
  line-height: 1.618;
}

code {
  font-size: 17px;
}

.yt-embed{
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

